div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.main_component {
  height: 100vh;
  background-color: lightblue;
}

h1 {
  color: red;
  font-size: 3em;
}
